  <div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">Braking Bed</h2>
      <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" />
      <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" />
      <p>username: admin <br> password: admin</p>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="valid()"(click)="navigateList()">Login</button>
    </form>
  </div>