
<table class="table table-striped">
   <thead>
     <tr>
       <td>ID</td>
       <td>Name</td>
       <td>Birth date</td>
       <td>Status</td>
       <td>
       <button class="btn btn-primary" (click)="addNew()">Add new</button>
       </td>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let character of characters;">
       <td>{{character.id}}</td>
       <td>{{character.name}}</td>
       <td>{{character.birthday}}</td>
       <td>{{character.status}}</td>
       <td>
         <button class="btn btn-primary" (click)="goToDetails(character.id)">Details</button>
           <button class="btn btn-primary" (click)="removeCharacter(character.id)"
             (click)="refresh()">remove</button>
       </td>
     </tr>
   </tbody>
 </table>