
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{character.img}}" alt="Card image cap">
  <div class="card-body">
<form novalidate ngForm="#f">

      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" name="name" class="form-control" id="name" [value]="character.id" disabled>
      </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name" [(ngModel)]="character.name" required #nameInput="ngModel">
      <span style="color: red" *ngIf="nameInput.invalid">Character name is required</span>
    </div>

      <div class="form-group">
          <label for="nickname">Nickname</label>
          <input type="text" name="nickname" class="form-control" id="nickname" [(ngModel)]="character.nickname"required #nicknameInput="ngModel">
          <span style="color: red" *ngIf="nicknameInput.invalid">Nickname is required</span>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" name="status" class="form-control" id="status" [(ngModel)]="character.status" required #statusInput="ngModel">
      </div>

        <div class="form-group">
          <label for="birthday">Birthday</label>
          <input type="date" name="birthday" datetime="MM-dd-yyyy" class="form-control" id="birthday"
            [ngModel]="character.birthday | date:'yyyy-MM-dd'"
            (ngModelChange)="character.birthday = $event">
        </div>

        <div class="form-group">
          <button class="btn btn-primary" (click)="save()" (click)="back()">Save</button>
          <button class="btn btn-primary"  (click)="back()">Cancel</button>
        </div>
</form>
  
  </div>
</div>
  

